@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;600;700&display=swap");

:root {
  --cream: #fbf5f1;
  --brown: #7b5635;
  --brown-30: #9e7253;
}

.bg-cream {
  background-color: var(--cream);
}
.text-brown {
  color: var(--brown);
}
.border-brown\/30 {
  border-color: var(--brown-30);
}
.bg-brown {
  background-color: var(--brown);
}
.text-cream {
  color: var(--cream);
}

body.bg-cream {
  background: var(--cream);
}

body,
h1 {
  font-family: "Pixelify Sans", sans-serif;
}

/* Timer */

.progress-ring {
  --pct: 0;
  background: conic-gradient(var(--brown) calc(var(--pct) * 1%), #e6e3e2 0);
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.02);
  padding: 12px;
  border-radius: 9999px;
  display: grid;
  place-items: center;
}

.progress-ring::after {
  content: "";
  width: 72%;
  height: 72%;
  border-radius: 9999px;
  background: white;
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.02);
}

.controlBtn {
  width: 56px;
  height: 56px;
  border-radius: 14px;
  background: transparent;
  display: grid;
  place-items: center;
  border: none;
  color: var(--brown);
  cursor: pointer;
  color: #7b5635;
  transition: color 300ms;
}

.controlBtn svg {
  color: var(--brown);
}

/* Music */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.vinyl-spin {
  animation: spin 3s linear infinite;
}

.controlSmall {
  background: transparent;
  width: 36px;
  height: 36px;
  font-size: 16px;
  cursor: pointer;
  color: var(--brown);
}
.controlSmall:hover {
  background-color: rgba(123, 94, 60, 0.2);
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  background: #e6e3e2;
  border-radius: 9999px;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: var(--brown);
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
